// FONT
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
$mont-font: "Montserrat", sans-serif;

// COLOR PALETTE 
$primary-clr: #2A324B;
$primary-48-clr:  #58699D;
$primary-90-clr: #E1E5EE;
$white-clr: #ffffff;