@use '_globals';

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: globals.$mont-font;
    background-color: globals.$primary-90-clr;
    position: relative;
    min-height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
}

section {
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 900px) {
    section {
        max-width: 500px;
    }
}